/*© Christian Altiche, 2025*/ 

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth; /*This allows the scroll smoother. */
  }


:root {
    -pallete-chisato: rgb(173, 64, 74);
    -pallete-takina: rgb(49, 57, 74);
    -pallete-kurumi: rgb(229, 201, 157);
}

.ff-goldman {
    font-family: Goldman;
}

.ff-be-vietnam-pro {
    font-family: Be Vietnam Pro;
}

.nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem; /* Adjust the width as per your design */
    height: 100%;
    cursor: pointer;
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
  }

/* Lycoris Text Colors */
.hover-text-chisato:hover {
  @apply text-chisato;
}

.hover-text-takina:hover {
  @apply text-takina;
}

.hover-text-kurumi:hover {
  @apply text-kurumi;
}

/* Theme on Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-slider-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}